.contact {
	height: 100%;
	padding-top: 30vh;
	overflow: hidden;
	background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)),
		url('https://github.com/pr1thvicoder/portfolio-with-sass-demo/blob/main/dist/img/model-1.jpg?raw=true')
			no-repeat top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		font-size: 1.5rem;
	}

	.text-secondary {
		padding-top: 0.45rem;
	}
}
